
body{
    background-color: aquamarine;
    border-bottom: 2px solid black;
    background-repeat: no-repeat;
    /* The background-repeat property sets if/how a background image will be repeated. */
     background-attachment: fixed;
     /* it will stuck the image even after we scrool the page */

}
ul{
    font-size: large;
    list-style-type: square;
    list-style-position: inside;
    /* circle,square,dics,decimal w3school */
    border-left: 2px solid red;
    border-right: 4px dotted black;
}
.Lorem{
    background-color: rgb(116, 37, 37);
    color: white;
    margin: 20px 100px 20px 10px;
    border-top: 10px solid rgb(1, 1, 29);
    width: 250px;
    height: 200px;
    padding: 20px;
    overflow: auto;
}