a[href='instagram']{
    color: aqua;
}

a[href='facebook']{
    color: gray;
}
h4,h5,p{
    color:rgb(155, 89, 100);
}/* at a time me have use 3 type selctor which were having same property we can use class also */
