
*{
    background-color: black;
    color: teal;
}
p{
    color: white !important;
    background-color:teal;
}
p{
    color: rgb(137, 250, 32);
    background-color: blue;
}

/* Dont get confuse here first time when we gave property to the p tag that was applid but second time we have given property
of same type selector and that was applid so here we can give **!important** which means give 1 priority to this tag 
no matter how many time the same tag is used just can use diffrent class also but this is more effecient way in short data */
