*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
header{
    /* border: 2px solid teal; */
    width:auto;
    height: 100px;
    box-sizing: border-box;
    background-color: maroon;
    padding: 70px;
}
header>a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin: 0px 20px;
}
section{
    border: 2px solid black;
    height: 400px;
    width: 1000px;
    margin: auto;
    background-color: white;
    background-image: linear-gradient(to bottom,pink,rgb(179, 179, 65),rgb(209, 142, 142),rgb(82, 143, 82));

}
section>div{
    
    height: 90px;
    width: 90px;
    background-image: linear-gradient(to bottom,yellow,crimson,orange);
    margin-top: 10px;
    border-radius: 50%;
    margin-left: 80%;
}

/* section>div>img{
    height: 100px;
    background-image: none;
} */
Footer{
    height: 200px;
    width: 1000px;
    margin: auto;
    text-decoration: none;
    background-color: black;
    overflow: auto;
}
Footer>a{
    color: white;
    text-decoration: none;
    margin: auto;
}
.kakashi{
    margin-right: 1000px;
}
Footer>p{
    color: white;
}